.App {
  text-align: left;
  flex-basis: 100%;
  /* height: 100vh;
  width: 100%; */
  padding-top: 5rem;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.55);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.55);
	box-shadow: 0 2px 3px rgba(0,0,0,0.55);
	border: 1px solid #818c94;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 5px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
}

.App-header {
  /* background-color: #222; */
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.MainBody{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.User-List{
  flex-basis: 25%;
  border-right:1px solid grey;
}
.App-intro{
  flex-basis: 75%;
}

li{
  text-decoration: none;
}

#root{
	background: url("./Langara.jpg");
	background-size: cover;
}


